@model CreateUserViewModel

<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form method="post">
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="FirstName">Nome</label>
            <input asp-for="FirstName" type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="LastName">Sobrenome</label>
            <input asp-for="LastName" type="text" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Email">E-mail</label>
            <input asp-for="Email" type="email" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="BirthDate">Data de nascimento</label>
            <input asp-for="BirthDate" type="date" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="PhoneNumber">Telefone</label>
            <input asp-for="PhoneNumber" type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="ProfilePicture">Foto de perfil</label>
            <input asp-for="ProfilePicture" type="url" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Password">Senha</label>
            <input asp-for="Password" type="password" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="PasswordConfirmation">Confirmação de senha</label>
            <input asp-for="PasswordConfirmation" type="password" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="submit" value="Salvar" class="btn btn-primary">
        </div>
    </div>
</form>
