@model CreateUserViewModel

<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form method="post">
    <div class="row mb-3">
        <div class="col-md-6">
            <label>Nome</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label>Sobrenome</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label>E-mail</label>
            <input type="email" class="form-control">
        </div>
        <div class="col-md-6">
            <label>Data de nascimento</label>
            <input type="date" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label>Telefone</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label>Foto de perfil</label>
            <input type="url" class="form-control">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label>Senha</label>
            <input type="password" class="form-control">
        </div>
        <div class="col-md-6">
            <label>Confirmação de senha</label>
            <input type="password" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="submit" value="Salvar" class="btn btn-primary">
        </div>
    </div>
</form>
